* {
    font-family: "Merriweather Sans", sans-serif;
}

.header {
    grid-area: header;
    text-align: center;
}

.header button {
    margin-bottom: 8px;
}

.header>input {
    max-width: 130px;
    text-align: center;
}

.stats {
    grid-area: stat;
    text-align: center;
    border: 1px dashed black;
    margin: 0 16px 0 4px;
}

.stats li {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.input_small {
    width: 30px;
}

.savingthrows {
    grid-area: savingthrows;
    border: 1px dashed black;
    padding-left: 12px;
    padding-top: 8px;
    margin-bottom: 4px;
    display: flex;
}

span {
    padding: 0px 20px 0 0px;
}

.skills {
    grid-area: skill;
    border: 1px dashed black;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 4px;
}

.skills>ul {
    margin-top: 4px;
}

.health {
    grid-area: health;
    border: 1px dashed black;
    padding-left: 12px;
    margin-left: 12px;
}

.otherProficiencies {
    grid-area: otherProficiencies;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: "header header header header header" "stat savingthrows health health health" "stat skill health health health" "stat skill health health health" "footer footer footer footer footer";
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style-type: none;
}

.savingthrows>li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

.skill>span {
    display: flex;
    justify-content: space-between;
}

.skill>input[type="number"] {
    width: 10px;
}

h4 {
    padding: 0;
    margin: 0;
}

.character-flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.character-flex-container>div {
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.name-text {
    text-align: left;
    font-size: 15px;
}

.item-text {
    border-bottom: 1px solid black;
}

.character-info-flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.character-info-flex-container>div {
    margin-top: 40px;
    display: flex;
    text-align: center;
    font-size: 30px;
    flex-direction: row;
}

.character-info-flex-container>div>ul {
    margin: 0;
}

img {
    width: 300px;
    margin-left: 16px;
}

.modal_li {
    padding: 12px;
}

.modal_input {
    margin-left: 12px;
}

.skill_title {
    background: lightgray;
    text-align: left;
    padding: 4px;
}